*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 768px) {
  body {
    display: none;
  }
}

img{
    width: 384px;
    height: 832px;
    z-index: -100;
    position: absolute; 
}

.h1{
    height: 70px;
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 15px;
    border-bottom:1px solid white;
    position: fixed;
    left: 0;
    right: 0;

}

.b1{
    padding: 15px;
}

.n1{
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    box-shadow: 5px 10px 10px rgba(0,0,0,1);
    position: fixed;
    top: 85px;
    left: 15px;
    right: 15px;
}

.n2{
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    box-shadow: 5px 10px 10px rgba(0,0,0,1);
    position: fixed;
    top: 280px;
    left: 15px;
    right: 15px;

}

button{
    margin-top: 12px;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: #fff;
    font-size: 16px;
}

p{
    font-size: 20px;
} 

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  backdrop-filter: blur(10px);
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav a {
  font-size: 22px;
  text-decoration: none;
}
.bottom-nav a:active{
    margin-bottom: 10px;
}