*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width: 768px) {
  body {
    display: none;
  }
}
img{
    width: 384px;
    height: 832px;
    z-index: -100;
    position: absolute;
}
form{
    width: 50%;
    height: 250px;
    position: absolute;
    top: 35%;
    left: 25%;
}    
.b0{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid white;
    z-index: -1;
    position: absolute;
    backdrop-filter: blur(10px);
}
button{
    width: 90%;
    border: none;
    padding: 2%;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 3%;
}
input{
    width: 90%;
    border: none;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
}
.b1{
    font-size: 45px;
    margin-left: 13px;
}
.b2{
    font-size: 20px;
    margin-left: 22px;
}
.b3{
    margin-top: 10%;
}